/maven-fingerprint-plugin/target
/maven-fingerprint-plugin/.idea
/maven-fingerprint-plugin/.classpath
/maven-fingerprint-plugin/.project
/maven-fingerprint-plugin/.settings
/maven-fingerprint-plugin/fingerprint-plugin.iml
/.idea

# We don't want to keep cruft from JUnit test runs in version control
/maven-fingerprint-plugin/src/test/fingered-web
/target/
