@font-face {
  font-family: 'FontAwesome';
  src: url('/css/fonts/c9cb7881b2b420eea33ec6847bcadaf1not_a_font.eot?v=4.5.0') format('embedded-opentype'), url("/css/fonts/c9cb7881b2b420eea33ec6847bcadaf1not_a_font.eot?v=4.5.0#fontawesomeregular") format('woff2');
  font-weight: normal;
  font-style: normal;
}

.someclass {
	float: left;
}